{% for result in runs %}
    <tr>
        <td>
            <a href="{{ url('run.view', {'id': result.id|trim }) }}">
                {{result.meta('SERVER.REQUEST_METHOD')}}
            </a>
        </td>
        <td>
            {% set addr = result.meta.url %}
            {{ helpers.tip_link(
            addr,
            50,
            'url.view',
            {'url': result.meta.simple_url}
            ) }}
        </td>
        <td><a href="{{ url('run.view', {'id': result.id|trim }) }}">{{ result.date|date(date_format) }}</a></td>
        <td class="right">{{ result.get('main()', 'wt') |as_time }}</td>
        <td class="right">{{ result.get('main()', 'cpu') |as_time }}</td>
        <td class="right">{{ result.get('main()', 'mu') |as_bytes }}</td>
        <td class="right">{{ result.get('main()', 'pmu') |as_bytes }}</td>
        <td class="right"><a href="{{ url('waterfall.list', {'remote_addr': result.meta.SERVER.REMOTE_ADDR, 'request_start': result.meta.SERVER.REQUEST_TIME - 5, 'request_end': result.meta.SERVER.REQUEST_TIME + 15}) }}">{{ result.meta.SERVER.REMOTE_ADDR }}</a>
        </td>
    </tr>
{% endfor %}